{% extends "base.html" %}

{% block main %}
{% if current_user.admin %}
<form action="{{ url_for('adicionar_editora') }}" method="post">
    <div class="login">
        <label for="nome">Nome *</label>
        <input type="text" id="nome" name="nome_editora">

        <label for="endereco">Endereço</label>
        <input type="text" id="endereco" name="endereco">

        <button>Adicionar editora</button>

        {% include "components/messages.html" %}
    </div>
</form>
{% else %}
<h1 class="livros">VOCÊ NÃO É ADMINISTRADOR, SAIA IMEDIATAMENTE</h1>
{% endif %}
{% endblock main %}