<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for ('static' , filename='style.css')}}">

</head>
<body>
    <header>
        <nav> <!-- LINKS DE PÁGINAS -->
            <a href="{{ url_for('index') }}">Início</a>
        </nav>
        <nav> <!-- LINKS DE AUTENTICAÇÃO -->
            {% if current_user.is_authenticated %}
                <span>Bem vindo, {{ current_user.nome }} | </span>
                <a href="{{ url_for('logout') }}">Sair</a>
            {% else %}
                <a href="{{ url_for('login') }}">Login</a>
                <a href="{{ url_for('cadastro') }}">Cadastro</a>
            {% endif %}
        </nav>
    </header>

    {% if request.endpoint not in ['login', 'cadastro'] %}
    <div class="message">
        <h1>Bem-vindo à <span class="brand">Giva's Livros</span> 📚</h1>
        <p>Explore um universo de histórias, conhecimento e imaginação — tudo em um só lugar.</p>
        <p>Na <strong>Giva's</strong>, garantimos livros em excelente estado, com preços acessíveis e atendimento feito com carinho.</p>
        <p>Descubra novas leituras, revisite seus clássicos favoritos e sinta o prazer de ter um bom livro nas mãos.</p>
        <a href="{{ url_for('index') }}" class="btn">Explorar Livros</a>
    </div>
    {% endif %}

    <main>{% block main %}{% endblock main %}</main>
    <footer></footer>
</body>
</html>