{% extends "base.html" %}

{% block main %}
{% include "components/confirm.html" %}

{% if current_user.admin == 1 %}
<div class="livros">
    <a href="{{ url_for('adicionar_autor') }}" class="btn-emprestar" style="width: 100%;">ADICIONAR AUTOR</a>
</div>
{% endif %}

{% for autor in autores %}
<div class="livros">
    <h3>{{ autor["nome_autor"] }}</h3>
    <p>Nacionalidade: {{ autor["nacionalidade"] }}</p>
    <p>Data de nascimento: {{ autor["data_nascimento"] }}</p>
    <p>Biografia: {{ autor["biografia"] }}</p>
    {% if current_user.admin == 1 %}
    <form action="{{ url_for('delete_autor', autor_id=autor['id_autor']) }}" method="POST">
        <a href="{{ url_for('update_autor', autor_id=autor['id_autor']) }}" class="btn-emprestar">Editar</a>
        <button class="btn-emprestar">Deletar</button>
    </form>
    {% endif %}
</div>
{% endfor %}
{% endblock main %}